*{
    margin:0;
    padding: 0;
}

.form{
    margin-top: 10px;   
    
}
h2{
    font-size: 25px !important;
}

h6{
 display:flex;
}
.box{
    display: flex;
    gap:20px
  
}

.fa-star{
  font-size: 25px !important;
  margin: 2px;

}